<h1>Contact Page</h1>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="well">please send a Message</p>
      <div class="form-group">
          <label>Your email address*:</label>
          {{input type="email" class="form-control" placeholder="Your email address" value=emailAddress autofocus="autofocus"}}
      </div>
      <div class="form-group">
          <label>Your message*:</label>
          {{textarea class="form-control" placeholder="Your message here." rows="3" value=message}}
      </div>
      <button class="btn btn-primary" {{action 'sendMessage'}} disabled="{{unless Validemail 'disabled'}}">Send</button>
    </div>

  {{#if responseMessage}}
      <div class="col-md-8 col-md-offset-2">
          <br/>
          <div class="alert alert-success">
              <h4>Thank you! Your message is sent.</h4>
              <p>{{responseMessage}}</p>
          </div>
      </div>
  {{/if}}
</div>
